@use "../base/variables" as var;
@use "../base/helpers" as *;

.checkbox {
  $root: &;
  display: flex;
  align-items: center;
  width: fit-content;
  column-gap: 1.2rem;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    @extend %visually-hidden;

    &:checked + #{$root}__custom {
      background-color: var.$primary;
      border-color: var.$primary;

      svg {
        opacity: 1;
      }
    }

    &:disabled:checked + #{$root}__custom {
      color: var.$gray--100;
      background-color: var.$gray--50;
      border-color: var.$gray--100;

      svg {
        opacity: 1;
      }
    }

    &:disabled + #{$root}__custom {
      color: var.$gray--100;
      background-color: var.$gray--50;
      border-color: var.$gray--100;
    }

    &:focus + #{$root}__custom {
      outline-color: var.$primary;
    }
  }

  &__custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 0.6rem;
    outline: 0.1rem solid transparent;
    outline-offset: 0.2rem;
    border: 0.1rem solid var.$gray--50;
    transition-property: background-color, border-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease;

    svg {
      opacity: 0;
      transition: opacity 200ms ease;
    }
  }

  &__text {
    font-size: 1.6rem;
  }
}
