@use "../base/variables" as var;

.confirm-card {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  background-color: rgba(var.$white, 0.04);
  padding: 1.6rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;

    span {
      font-weight: 300;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.8rem;
    border-top: 1px solid var.$gray--700;
    font-weight: 500;
    font-size: 1.8rem;
  }
}
