@use "../base/variables" as var;

.confirm {
  @media (width >= 1024px) {
    position: sticky;
    top: 10rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    @media (width >= 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3.2rem;
      align-items: start;
    }

    @media (width >= 1024px) {
      padding: 0;
      display: flex;
      align-items: normal;
    }
  }

  &__title {
    font-size: 2rem;

    @media (width >= 768px) {
      grid-column: 1 / 1;
    }
  }

  &__group {
    width: 100%;

    @media (width >= 768px) {
      grid-column: 1 / 2;
      align-self: start;
    }
  }

  &__card {
    @media (width >= 768px) {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
    }
  }

  &__checkbox {
    @media (width >= 768px) {
      grid-column: 1 / 2;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;

    @media (width >= 768px) {
      grid-column: 1 / -1;
      flex-direction: row;
      column-gap: 1.6rem;
      justify-content: center;
    }
  }

  &__btn {
    min-height: 5.6rem;
    align-items: center;
    width: 100%;

    @media (width >= 768px) {
      max-width: 23rem;
    }
  }
}
