@use "../base/variables" as var;

.input-group {
  $root: &;
  display: flex;
  flex-direction: column;

  &:has(input:required) {
    #{$root} {
      &__label {
        &::after {
          content: "\00a0*";
          color: var.$primary;
        }
      }
    }
  }

  &__label {
    font-size: 1.4rem;
    padding-bottom: 0.6rem;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    border-radius: 0.8rem;
    border: 0.1rem solid var.$gray--700;
    padding: 1.2rem 1.4rem;
    color: var.$white;

    &--tel {
      padding-left: 7.6rem;
    }

    &:focus {
      outline: 0.1rem solid var.$primary;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__country-btn {
    position: absolute;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    color: var.$gray--200;
    border: none;
    background-color: transparent;
    padding: 1.2rem 0.8rem 1.2rem 1.4rem;
    top: 50%;
    left: 0;
    translate: 0 -50%;

    &:focus {
      outline: none;
    }
  }
}
