@use "../base/variables" as var;

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: none;
  background-color: var.$primary;
  width: fit-content;
  color: var.$white;
  min-width: 10.8rem;
  min-height: 4.4rem;
  border-radius: 0.8rem;
  white-space: nowrap;
  padding: 1.2rem 2.6rem;
  user-select: none;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease;

  &:disabled {
    background-color: rgba(var.$primary, 0.2);
    pointer-events: none;
    color: var.$gray--500;
  }

  @media (hover: hover) {
    &:hover {
      background-color: rgba(var.$primary, 0.7);
    }
  }

  &--secondary {
    background-color: rgba(var.$primary, 0.2);

    &:focus {
      outline: 0.1rem solid var.$primary;
    }

    &:disabled {
      background-color: rgba(var.$primary, 0.1);
      pointer-events: none;
      color: var.$gray--500;
    }

    @media (hover: hover) {
      &:hover {
        background-color: rgba(var.$brown, 0.4);
      }
    }
  }
}
