@use "../base/variables" as var;

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  pointer-events: none;
  transition: background-color 200ms ease;
  z-index: 300;

  &--active {
    pointer-events: visible;
    background-color: rgba(var.$black, 0.5);
  }

  @media (width >= 768px) {
    display: block;
  }
}
