@use "../base/variables" as var;

.my-booking {
  &__content {
    padding-inline: 1.6rem;
    padding-top: 4rem;
    padding-bottom: 8rem;

    @media (width >= 768px) {
      padding-top: 2.4rem;
    }

    @media (width >= 1024px) {
      padding-top: 4rem;
      display: flex;
      flex-direction: column;
      max-width: 149.6rem;
      margin-inline: auto;
      padding-bottom: 12rem;
    }
  }

  &__nav {
    display: none;

    @media (width >= 768px) {
      display: flex;
      align-items: center;
      column-gap: 0.4rem;
      padding-bottom: 1.6rem;
    }

    @media (width >= 1024px) {
      padding-bottom: 4rem;
    }
  }

  &__link {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    color: var.$gray--500;
    transition: color 150ms ease;

    &:last-child {
      color: var.$gray--300;
      pointer-events: none;

      svg {
        display: none;
      }
    }

    @media (hover: hover) {
      &:hover {
        color: var.$primary;
      }
    }

    @media (width >= 1024px) {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2.4rem;

    @media (width >= 768px) {
      font-size: 2.4rem;
      padding-bottom: 3.2rem;
    }

    @media (width >= 1024px) {
      order: -1;
      padding-bottom: 1.6rem;
      font-weight: 400;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    @media (width >= 768px) {
      padding-bottom: 4rem;
    }

    @media (width >= 1024px) {
      padding-bottom: 5.6rem;
    }
  }

  &__pagination {
    display: none;

    @media (width >= 768px) {
      display: flex;
    }
  }
}
