@use "../base/variables" as var;

.payment-section {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.2rem;
    padding-inline: 1.6rem;
    padding-top: 4rem;
    padding-bottom: 8rem;

    @media (width >= 768px) {
      row-gap: 4rem;
    }

    @media (width >= 1024px) {
      padding-top: 6.4rem;
      padding-bottom: 12rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    text-align: center;

    @media (width >= 768px) {
      max-width: 93.8rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 0.8rem;

    @media (width >= 768px) {
      font-size: 2.4rem;
      padding-bottom: 1.6rem;
    }

    @media (width >= 1024px) {
      font-size: 4rem;
      padding-bottom: 2.4rem;
    }
  }

  &__text {
    font-size: 1.6rem;
  }

  &__code {
    font-size: 1.4rem;
    color: var.$primary;
  }

  &__text,
  &__code {
    @media (width >= 768px) {
      font-size: 2rem;
    }
  }

  &__help-btn {
    display: none;

    @media (width >= 1024px) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 10rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var.$primary;
      color: var.$white;
      bottom: 12rem;
      right: 4rem;
      border: none;
      transition-property: background-color, translate;
      transition-duration: 250ms;
      transition-timing-function: ease;
      padding: 0;

      svg {
        width: 5.6rem;
        aspect-ratio: 1;
      }

      &:active {
        translate: 0 -0.6rem;
      }

      @media (hover: hover) {
        &:hover {
          background-color: rgba(var.$primary, 0.7);
        }
      }
    }

    @media (width >= 1200px) {
      right: 8.7rem;
    }
  }
}
