@use "../base/variables" as var;

.search-results {
  .pagination {
    display: flex;
  }

  .car-search {
    display: none;
    background-color: rgba(var.$white, 0.05);

    @media (width >= 1024px) {
      display: flex;
    }
  }

  &__info-inner {
    padding-block: 0.8rem;
    border-bottom: 0.1rem solid var.$gray--700;

    @media (width >= 768px) {
      padding-block: 2.4rem;
    }

    @media (width >= 1024px) {
      display: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.6rem;
    column-gap: 1rem;

    @media (width >= 768px) {
      column-gap: 3.2rem;
      justify-content: flex-start;
    }
  }

  &__back-btn {
    display: none;

    @media (width >= 768px) {
      display: flex;
      align-items: center;
      column-gap: 0.8rem;
      font-family: inherit;
      font-size: 1.6rem;
      color: var.$white;
      border: none;
      background-color: transparent;
      transition: color 150ms ease;

      @media (hover: hover) {
        cursor: pointer;

        &:hover {
          color: var.$primary;
        }
      }
    }
  }

  &__edit-btn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    padding: 2rem;
    color: var.$gray--400;
    border: none;
    background-color: transparent;
    transition: color 150ms ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        color: var.$primary;
      }
    }
  }

  &__route {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    overflow: hidden;
  }

  &__date,
  &__station {
    font-size: 1.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (width >= 768px) {
      font-size: 1.6rem;
    }
  }

  &__date {
    @media (width >= 768px) {
      font-weight: 600;
    }
  }

  &__station {
    color: var.$gray--400;
  }

  &__pagination {
    display: flex;
    grid-column: 2 / -1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    padding-top: 3.2rem;
    padding-inline: 1.6rem;

    @media (width >= 768px) {
      padding-top: 4rem;
      padding-bottom: 5.6rem;
      row-gap: 2.4rem;
    }

    @media (width >= 1024px) {
      max-width: 149.6rem;
      width: 100%;
      margin-inline: auto;
      display: grid;
      grid-template-columns: 34.8rem 1fr;
      column-gap: 2.4rem;
    }
  }

  &__title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 0.8rem;

    @media (width >= 768px) {
      font-size: 2.4rem;
    }

    @media (width >= 1024px) {
      display: none;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &__btn {
    font-family: inherit;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    padding-inline: 0;
    padding-block: 1rem;
    color: var.$gray--400;
    border: none;
    background-color: transparent;
    transition: color 150ms ease;

    svg {
      flex-shrink: 0;
    }

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        color: var.$primary;
      }
    }

    @media (width >= 1024px) {
      display: none;
    }
  }

  &__sort-btn {
    display: none;

    @media (width >= 1024px) {
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 600;
      color: var.$gray--500;
      display: flex;
      align-items: center;
      column-gap: 0.8rem;
      background-color: transparent;
      border: none;
      padding: 0;
      margin-left: auto;
      transition: color 150ms ease;

      @media (hover: hover) {
        cursor: pointer;

        &:hover {
          color: var.$primary;
        }
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    @media (width >= 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.6rem;
    }

    @media (width >= 1200px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2.4rem;
      row-gap: 4rem;
    }
  }
}
