@use "../base/variables" as var;

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-block: 0.4rem;
  padding-right: calc(1.6rem + env(safe-area-inset-right));
  padding-left: calc(1.6rem + env(safe-area-inset-left));
  background-color: var.$dark--400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 6rem;
  height: 5.2rem;
  z-index: 400;

  @media (width >= 768px) {
    padding-block: 1.6rem;
  }

  @media (width >= 1024px) {
    padding-left: calc(4rem + env(safe-area-inset-left));
    padding-right: calc(4rem + env(safe-area-inset-right));
  }

  &__logo {
    max-width: 15rem;
    flex-shrink: 0;

    @media (width >= 1024px) {
      max-width: 12.6rem;
    }
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.4rem 1.6rem 3.6rem;
    position: absolute;
    height: calc(100dvh - 5.2rem);
    top: 100%;
    right: 0;
    background-color: var.$dark--300;
    translate: 100%;
    transition-property: translate, opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: ease;
    opacity: 0;
    visibility: hidden;

    &--open {
      translate: 0;
      opacity: 1;
      visibility: visible;
    }

    @media (width >= 768px) {
      max-width: 42rem;
      transition-duration: 250ms;
    }

    @media (width >= 1024px) {
      display: contents;
      opacity: 1;
      visibility: visible;
    }
  }

  &__nav {
    --ss: 4.8rem;
    $ss: var(--ss);
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    overflow-y: auto;

    @media (width >= 1024px) {
      flex-direction: row;
      overflow-x: auto;
      margin-right: auto;
      column-gap: 2.4rem;
      margin-left: calc(#{$ss} * -1);
      padding-inline: $ss;
      mask-image: linear-gradient(
        to right,
        transparent,
        #000 $ss,
        #000 calc(100% - #{$ss}),
        transparent
      );

      &::-webkit-scrollbar {
        display: none;
      }

      & {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }
  }

  &__link {
    color: var.$gray--400;
    font-weight: 700;
    font-size: 2.4rem;
    transition: color 150ms ease;
    white-space: nowrap;

    @media (hover: hover) {
      &:hover {
        color: var.$primary;
      }
    }

    @media (width >= 1024px) {
      color: var.$white;
      font-weight: 400;
      font-size: 1.6rem;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;

    @media (width >= 1024px) {
      display: none;
    }
  }

  &__phone-link {
    display: none;
    font-size: 1.6rem;
    padding: 0.8rem;
    align-items: center;
    column-gap: 0.4rem;
    color: var.$gray--400;
    transition: color 250ms ease;

    @media (hover: hover) {
      &:hover {
        color: var.$primary;
      }
    }

    @media (width >= 768px) {
      display: flex;
    }
  }

  &__actions {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.6rem;
    font-size: 1.6rem;
    row-gap: 2.4rem;

    @media (width >= 1024px) {
      display: flex;
      row-gap: 0;
    }
  }

  &__actions-login {
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    color: var.$white;
    column-gap: 0.8rem;

    svg {
      order: 1;
    }

    @media (width >=1024px) {
      display: none;
    }
  }

  &__desktop-btn {
    display: none;

    @media (width >= 1024px) {
      display: flex;
      font-size: 1.6rem;
    }
  }

  &__actions-link {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  &__lang-btn {
    font-size: 1.6rem;
    column-gap: 0.8rem;
    border: none;
    background-color: transparent;
    grid-column: 2 / -1;
    grid-row: 2;
    justify-self: end;

    svg {
      flex-shrink: 0;
      transition: rotate 250ms ease;
    }

    &--active {
      color: var.$primary;

      svg {
        rotate: 180deg;
      }
    }
  }

  &__actions-link {
    column-gap: 0.4rem;
  }

  &__account-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-family: inherit;
    column-gap: 0.8rem;
    color: var.$gray--400;
    transition: color 200ms ease;
    grid-column: 1 / -1;

    svg {
      transition: rotate 250ms ease;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var.$gray--700;
      font-weight: 600;
      outline: 0.1rem solid transparent;
      transition-property: outline-color, background-color;
      transition-duration: 200ms;
      transition-timing-function: ease;
    }

    @media (hover: hover) {
      &:hover {
        color: var.$primary;

        span {
          outline-color: var.$primary;
          background-color: rgba(var.$primary, 0.1);
        }
      }
    }

    &--active {
      color: var.$primary;

      span {
        outline-color: var.$primary;
        background-color: rgba(var.$primary, 0.1);
      }

      svg {
        rotate: 180deg;
      }
    }
  }
}
