@use "../base/variables" as var;
@use "../base/helpers" as *;

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: var.$white;
  background-color: var.$dark--900;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

button {
  font-family: inherit;

  @media (hover: hover) {
    cursor: pointer;
  }
}

.main-container {
  padding-inline: 1.6rem;

  @media (width >=768px) {
    padding-inline: 3.2rem;
    max-width: 152.8rem;
    margin-inline: auto;
    width: 100%;
  }
}

.visually-hidden {
  @extend %visually-hidden;
}

.reserve-block {
  height: 5.2rem;
}

.hide {
  display: none;

  @media (width >= 1024px) {
    display: block;
  }
}
