$white: #fff;
$black: #000;

$dark--900: #121214;
$dark--400: #1e1e20;

$gray--900: #39393b;
$gray--700: #4f4f51;
$gray--600: #656566;
$gray--500: #919192;
$gray--400: #bdbdbe;
$gray--300: #e9e9e9;

$terracotta--700: #b68867;
$terracotta--400: #c5a085;
$terracotta--300: #daa594;
$terracotta--200: #d1baaa;

$red: #f04438;
$green--900: #27c137;
$green--300: #72d38d;

$primary: $terracotta--700;
$primary--light: $terracotta--400;
