<section class="contact-us">
  <div class="main-container contact-us__container">
    <div class="contact-us__content">
      <div class="contact-us__avatars">
        <div class="avatar">
          <img src="./src/img/avatar03.webp" alt="user-avatar" />
        </div>
        <div class="avatar">
          <img src="./src/img/avatar02.webp" alt="user-avatar" />
        </div>
        <div class="avatar">
          <img src="./src/img/avatar01.webp" alt="user-avatar" />
        </div>
      </div>
      <div class="contact-us__description">
        <h2 class="contact-us__title">Still have questions?</h2>
        <p class="contact-us__text">
          Can’t find the answer you’re looking for? Please chat to our friendly
          team.
        </p>
      </div>
      <button type="button" class="main-btn contact-us__btn">Contact Us</button>
    </div>
  </div>
</section>
