<div class="filter">
  <div class="filter__header">
    <h2 class="filter__title">Filters</h2>
    <button type="reset" class="filter__btn">Reset</button>
  </div>
  <div class="filter__form">
    <details open class="filter__details">
      <summary class="filter__summary">
        Car Type
        <svg class="icon icon--24">
          <use href="#chevronDown"></use>
        </svg>
      </summary>
      <div class="filter__options">
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Small</span>
        </label>
        <label class="checkbox filter__label">
          <input
            type="checkbox"
            checked
            class="checkbox__input filter__input"
          />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Medium</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Van</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">PickUp</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Electric</span>
        </label>
      </div>
    </details>
    <details open class="filter__details">
      <summary class="filter__summary">
        Number of Passengers
        <svg class="icon icon--24">
          <use href="#chevronDown"></use>
        </svg>
      </summary>
      <div class="filter__options">
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">1-2</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">2-4</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">5-7</span>
        </label>
      </div>
    </details>
    <details open class="filter__details">
      <summary class="filter__summary">
        Transmission Type
        <svg class="icon icon--24">
          <use href="#chevronDown"></use>
        </svg>
      </summary>
      <div class="filter__options">
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Manual</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Automatic</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">5-7</span>
        </label>
      </div>
    </details>
    <details open class="filter__details">
      <summary class="filter__summary">
        Fuel Type
        <svg class="icon icon--24">
          <use href="#chevronDown"></use>
        </svg>
      </summary>
      <div class="filter__options">
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Petrol</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Diesel</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Electric</span>
        </label>
        <label class="checkbox filter__label">
          <input type="checkbox" class="checkbox__input filter__input" />
          <span class="checkbox__custom filter__custom">
            <svg class="icon icon--14">
              <use href="#checkV"></use>
            </svg>
          </span>
          <span class="checkbox__text filter__text">Hybrid</span>
        </label>
      </div>
    </details>
  </div>
</div>
