<form class="language-selector">
  <label class="language-selector__label">
    <input
      class="language-selector__input"
      type="radio"
      name="language"
      value="ukrainian"
      aria-label="Ukrainian"
    />
    <img src="./src/img/ukranian.svg" alt="flag" />
    <span>Ukrainian</span>
    <svg class="icon icon--20">
      <use href="#checkV"></use>
    </svg>
  </label>
  <label class="language-selector__label">
    <input
      class="language-selector__input"
      type="radio"
      name="language"
      value="english"
      aria-label="English"
      checked
    />
    <img src="./src/img/english.svg" alt="flag" />
    <span>English</span>
    <svg class="icon icon--20">
      <use href="#checkV"></use>
    </svg>
  </label>
  <label class="language-selector__label">
    <input
      class="language-selector__input"
      type="radio"
      name="language"
      value="croatian"
      aria-label="Сroatian"
    />
    <img src="./src/img/croatian.svg" alt="flag" />
    <span>Сroatian</span>
    <svg class="icon icon--20">
      <use href="#checkV"></use>
    </svg>
  </label>
</form>
